@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap');
*{
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    font-size: 1rem;
}

#HelloWorld {
    color: blue(1, 1, 1, 0.5);
    text-decoration: dotted underline;
    font-size: 1rem;
}

.btn {
    color:red;
    padding: 10px 1rem 30px 40px;
    background-color: rgb(0, 153, 255);
    border: none;
    border-radius: 50px;
    border: 2px dashed blueviolet;
}

.btn:hover{
    background-color: burlywood;
    color: crimson;
    cursor: pointer;
}

.list{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem 0.5rem;
}

.list li {
    text-decoration: none;
    list-style: none;
    outline: 1px solid black;
}

.sunflower{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px dotted rebeccapurple;
 }